.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 200px;
  cursor: pointer;
  min-width: 173px;
  min-height: 56px;
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-regular);
  letter-spacing: -0.01em;
  transition: all var(--transition-my);
}
