.hero {
  padding: 192px 0;
  background-color: var(--color-inputs);
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2)), url(/travel-trucks-camper-rental.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1788px;
  margin: 0 auto;
  background-size: cover;
  height: 696px;
}
.title-container {
  margin-right: auto;
  margin-bottom: 40px;
}
.hero-title {
  color: var(--color-inputs);
  margin-bottom: 16px;
}
.hero-massage {
  color: var(--color-inputs);
}
.button-rout {
  padding: 16px 60px;
  border: none;
  background-color: var(--color-grey-green);
  color: var(--color-inputs);
}
.button-rout:hover {
  background-color: var(--color-green-hover);
}
