.firstClass {
  width: 100%;
  max-width: 360px;
  border-radius: 20px;
  padding: 24px;
  background-color: var(--color-inputs);
}
.fieldset {
  border: none;
  margin: 0 0 24px 0;
  padding: 0;
  width: 100%;
}
.legend-name {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-regular);
  line-height: var(--line-height-regular);
  color: var(--color-grey);
  margin-bottom: 8px;
}
.location-for-blockicon {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  .input-wrapper {
    /*-------------*/
    width: 100%;
  }
}
.location-map-icon {
  position: absolute;
  font-size: 20px;
  left: 20px;
  color: var(--color-grey);
  pointer-events: none;
}
.location-input {
  width: 100%;
  padding: 18px 20px 18px 48px;
  border-radius: 12px;
  border: 0px solid var(--color-white);
  outline: none;
  background-color: var(--color-white);
}
.input-error {
  border-color: var(--color-error);
  color: var(--color-error);
  &::placeholder {
    color: var(--color-error);
  }
}
/* .icon-error {
  color: var(--color-error);
} */
.error-message {
  text-align: center;
  color: var(--color-error);
}
.location-for-blockicon:has(.location-input:not(:placeholder-shown)) {
  .location-input {
    border: 0px solid var(--color-inputs);
  }
  .location-map-icon {
    color: var(--color-main);
  }
  .icon-error {
    color: var(--color-error);
  }
}
.title-filters {
  margin-top: 40px;
  margin-bottom: 24px;
}
.radio-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.legend-radio-name {
  display: flex;
  align-items: center;
  gap: 8px;
  text-transform: capitalize;
}
.borderGrey {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border: 1px solid var(--color-grey);
  border-radius: 50%;
}
.inCircleColorMane {
  display: none;
  height: 14px;
  width: 14px;
  background-color: var(--color-main); /**/
  border-radius: 50%;
}
.legend-radio-name:has(input:checked) {
  .borderGrey {
    border: 2px solid var(--color-main);
  }
}
.legend-radio-name:has(input:checked) {
  .inCircleColorMane {
    display: block;
  }
}
.button-block {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.button-search {
  padding: 16px 60px;
  border: none;
  background-color: var(--color-grey-green);
  color: var(--color-inputs);
}
.button-search:hover {
  background-color: var(--color-green-hover);
}
.button-outh-color {
  background-color: var(--color-white);
  border: 1px solid var(--color-grey-light);
  padding: 16px 32px;
  color: var(--color-main);
  .button-outh-color:hover {
    border-color: var(--color-green-hover);
    background-color: transparent;
    color: var(--color-white);
  }
}
.button-outh-color:hover {
  border-color: var(--color-green-hover);
  background-color: transparent;
}
.size-icon-inbtn {
  font-size: 24px;
}
