.parent-page-catalog {
  padding: 65px 0;
  display: flex;
  gap: 65px;
}
.place-for-form {
  width: 360px;
}
.place-array-articlies {
  width: 888px;
}
.list-articlies {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
  margin-bottom: 40px;
}
.button-outh-color {
  background-color: var(--color-white);
  border: 1px solid var(--color-grey-light);
  padding: 16px 32px;
  color: var(--color-main);
  margin: 0 auto;
  .button-outh-color:hover {
    border-color: var(--color-green-hover);
    background-color: transparent;
    color: var(--color-white);
  }
}
.button-outh-color:hover {
  border-color: var(--color-green-hover);
  background-color: transparent;
}
